<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Take A Slice!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<style>
		h1 {
			text-align:center;
		}
		.cart {
			text-align: right;
			margin-right: 50px;
		}
		.top {
			margin-top: 20px;
		}
		.add {
			text-align: center;
			margin-top: 100px;
			margin-left: 145px;
		}
		#input {
			color:black;
		}


		body {
			background-image: url("http://99px.ru/sstorage/86/2017/07/12807171856116969.gif");
				background-repeat: no-repeat;
				background-size: cover;
				color:white;
		}
		html, body {
				height:100%;
				width:100%;
		}
		</style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
